<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
      {% include header.html %}

  <div id="content">
    <!-- 页面默认内容，如果是电脑则显示这个内容 -->
    {{ content }}
  </div>

  <script src="https://github.com/ZhengmzLab/zhengmzlab.github.io/blob/main/marked.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // 检测是否为手机设备
      var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

      if (isMobile) {
        // 如果是手机设备，加载 README.md
        fetch('https://github.com/ZhengmzLab/zhengmzlab.github.io/blob/main/README.md')
          .then(response => {
            if (response.ok) {
              return response.text();
            }
            throw new Error('无法加载 README.md');
          })
          .then(mdContent => {
            // 使用 marked.js 渲染 Markdown
            document.getElementById('content').innerHTML = marked(mdContent);
          })
          .catch(error => {
            console.error(error);
            document.getElementById('content').innerText = "无法加载内容，请稍后重试。";
          });
      }
    });
  </script>
</body>
</html>
